.about-container {
    background-color: #1c1c1c; /* Dark Gray Background */
    padding: 20px;
    border-radius: 8px; /* Consistent border radius */
    text-align: center;
    max-width: 400px;
    margin: 20px auto;
}

.about-title {
    color: #ffffff; /* White Text */
    margin-bottom: 20px;
}

.about-text {
    color: #ffffff; /* White Text */
}

@media (min-width: 768px) {
    .about-container {
        max-width: 600px;
    }

    .about-title {
        font-size: 2rem;
    }

    .about-text {
        font-size: 1.2rem;
    }
}