.dashboard-container {
    background-color: #1c1c1c; /* Dark Gray Background */
    padding: 20px;
    border-radius: 8px; /* Consistent border radius */
    text-align: center;
    max-width: 400px;
    margin: auto;
}

.dashboard-title {
    color: #ffffff; /* White Text */
    margin-bottom: 20px;
}

.dashboard-text {
    color: #ffffff; /* White Text */
}