.header {
    background-color: #000000; /* Black Background */
    padding: 20px;
    text-align: center;
}

.header-title {
    color: #ffcc00; /* Yellow Text */
    font-size: 24px;
    margin: 0;
}