.navigation {
    background-color: #000000; /* Black Background */
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

.nav-link {
    color: #ffcc00; /* Yellow Text */
    text-decoration: none;
    font-size: 18px;
}

.nav-link:hover {
    color: #e6b800; /* Slightly darker yellow on hover */
}