@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
    box-sizing: border-box;
}

html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #121212; /* Dark Background */
    color: #ffffff; /* White Text */
}

body {
    background-color: #F5F5F5; /* Light gray background */
    color: #000000; /* Black text */
    font-family: 'Arial', sans-serif; /* Clean, sans-serif font */
}